[submodule "roboy_fpga_code"]
	path = roboy_fpga_code
	url = https://github.com/Roboy/roboy_fpga_code
[submodule "VidorBitstream"]
	path = VidorBitstream
	url = https://github.com/vidor-libraries/VidorBitstream
